
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/logs/
/svn_repo/
/backup/
/.bash_history
/.gitconfig
###< symfony/framework-bundle ###
